<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="DEBUG">
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} {%t} %-5level %logger{36} - %msg%n"/>
		</Console>
		<File name="LogToFile" filename="D:\Capgemini\Project Intern\HealthReminderLog.out">
			<PatternLayout>
				<Pattern>%d %p %c{1.} {%t} %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	
	<loggers>
		<logger name="com.cg.healthreminder.controller" level="debug" additivity="false">
			<AppenderRef ref="LogToFile"/>
			<AppenderRef ref="LogToConsole"/>
		</logger>	
		<logger name="com.cg.healthreminder.dao" level="debug" additivity="false">
			<AppenderRef ref="LogToFile"/>
			<AppenderRef ref="LogToConsole"/>
		</logger>
		<logger name="com.cg.healthreminder.model" level="debug" additivity="false">
			<AppenderRef ref="LogToFile"/>
			<AppenderRef ref="LogToConsole"/>
		</logger>
		<logger name="com.cg.healthreminder.services" level="debug" additivity="false">
			<AppenderRef ref="LogToFile"/>
			<AppenderRef ref="LogToConsole"/>
		</logger>
		<logger name="com.cg.healthreminder.services.impl" level="debug" additivity="false">
			<AppenderRef ref="LogToFile"/>
			<AppenderRef ref="LogToConsole"/>
		</logger>
		<Root level="error">
			<AppenderRef ref="LogToFile"/>
			<AppenderRef ref="LogToConsole"/>
		</Root>
	</loggers>
</Configuration>