<style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #ebe966;
            font-family: sans-serif;
        }

        .menu {
            background: #f39838;
            text-align: center;

        }

        .menu ul {
            display: inline-flex;
            color: #fff;
        }

        .menu ul li {
            width: 120px;
            margin: 15px;
            padding: 15px;

        }

        .menu ul li a {
            text-decoration: none;
            color: #ffff;

        }

        .active, .menu ul li:hover {
            background-color: #9f9c18;
            border-radius: 50px;
            /* padding:9px 15px; */
        }

        .menu .fa{
            size: 30px;
        }
         
    </style>