*{
    padding: 0;
    margin: 0;
    font-family: fantasy;
    
}

body{
    background: black;  
}

.container{
    text-align: center;
    position:absolute;
    top: 50%;
    left:50%;
    transform: trasnlate(-50%,-50%);
    width: 100%;

}
.container span{
   
    text-transform: uppercase;
    display: block;
}
.text1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 700;
    margin-bottom: 20px;
    background: black;
    position: relative;
    animation: text 3s 1;
}

.text2{
    color: yellowgreen;
    font-size: 30px;;
}

@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}