body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  height: 100vh;
  background-image: url("BMI.jpg"), url("BMI2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(111 31 189 / 57%);
  
}

div{
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0,0,0,0.5);
  transform: translate(-50%, -50%);
  padding: 5px;
  box-shadow: 2px 2px 20px #919191;
}
h2{
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.text{
  text-align: left;
  margin-left: 100px;
  color: #fff;
}

#weight, #height{
  color: #fff;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  border: 1px solid #fff;
  width: 300px;
  background-color: transparent;
  border-radius: 2px;
  outline: none;
}

#result{
      color: rgb(13 233 91);
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

#btn{
  font-size: inherit;
  margin-top: 10px;
  border: none;
  color: #fff;
  background-color: #622828;
  width: 150px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
}

#btn:hover{
  box-shadow: 1px 1px 10px #341f97;
}

#info{
  color: #fff;
  font-size: 15px;
}
