.style1{
    background-image: url('https://wallpapercave.com/wp/wp1898160.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment: fixed;
   height: 970px;
}
nav li
{
    
    display:inline;
    margin: 10px 100px;
    font-weight: 600;
    float: right;
    
}
nav li a
{
    text-decoration: none;
    color: white;
    padding-left: 430px;
    
}