<app-navbar></app-navbar>
<div class="rideDetails center-hori">
<div style="margin-left: 45%; padding-bottom: 3%;">User Rides</div>
<table style="width: -webkit-fill-available;">

    <tbody>
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Time</th>
            <th>Driver Details</th>
            <th>Phone No.</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>Banglore</td>
            <td>Mangalore</td>
            <td>10.30am</td>
            <td>Srini</td>
            <td>9638527410</td>
            <td class="rideActiveStatus">Active</td>
        </tr>
        <tr>
            <td>Vishakapatnam</td>
            <td>Vizianagaram</td>
            <td>1.30pm</td>
            <td>Arun</td>
            <td>9638457124</td>
            <td class="rideCompleteStatus">Completed</td>
        </tr>
        <tr>
            <td>Vizianagaram</td>
            <td>Vizag</td>
            <td>2.30pm</td>
            <td>Srini</td>
            <td>9622580174</td>
            <td class="rideCancelledStatus">Cancelled</td>
        </tr>
        <tr>
            <td>Banglore</td>
            <td>hyd</td>
            <td>5.30pm</td>
            <td>Nikhil</td>
            <td>9638538561</td>
            <td class="rideCompleteStatus">Completed</td>
        </tr>
       

    </tbody>
</table>
</div>