<div class="mb-3 text-danger text-center text-uppercase text-monospace font-weight-bolder">
    <h3> Have some doubts? 🤔 </h3>
    <h3> Contact us with below details! </h3>
</div>

<div class="container custom-container-2">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email Id</th>
                    <th scope="col">Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nidhi</td>
                    <td>Myemail@email.com</td>
                    <td>7410852741</td>
                </tr>
                <tr>
                    <td>Sairam</td>
                    <td>Myemail@email.com</td>
                    <td>7410852741</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>