<body class="style1">
  <br>
  <h1 class="textual text-center" style="color: white;">Hello, Welcome to Luxury Cabs</h1>
   <br>
   <br>
    <!-- <h3 class="textual text-center">Plan your pleasant trip with us !!</h3> -->
   <br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <li ><a href="login"><i class="fas fa-user"></i> User Login </a> </li>
    
  <li><a href="driver"><i class="fas fa-car"></i> Driver Login </a> </li>>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </nav>
    <br>
    <h3 class="textual text-center" style="color:white;">Plan your pleasant trip with us !!</h3>
   <br>
  </body>
